/* //////////////////// */
/*  START HEADER STYLE  */
/* //////////////////// */
.header {
    background: url(../imges/Background.png) center center;
    background-size: cover;
    height: 100vh;
}

.header__container {
    width: 100%;
}

.bg-info {
    background-color: rgb(82, 82, 255);
}

.nav {
    padding: 1rem 0;
    z-index: 9999;
}

.nav__container {
    width: 85%;
    margin: auto;
}

.nav__logo {
    width: 40%;

}

.nav__logo img {
    width: 100%;
}


.nav--group {
    width: 47%;
}

.nav__links li {
    padding: 0 0.5rem;
}
.nav__links{
    padding-left: 10px;
}

.nav__ul {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
}

.nav__ul a {
    color: var(--color-Neutral);
}


.nav__StoreBadge {
    width: 25%;
    margin-right: 2rem;
}

.nav__StoreBadge>img {
    margin-right: 1rem;
}

/* section content header */
.section__container {
    width: 80%;
    margin: auto;
}

.section__content--moblie {
    margin-top: 3rem;
    width: 40%;
    text-align: end;

}

.section__content {
    width: 60%;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
}

.section__content--title {
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.025em;
    font-weight: 700;
}

.section__content--paragraph {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.content--links a {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

.content--links :nth-child(1) {
    color: white;
    margin-right: 0.8rem;
}

.content--links :nth-child(2) img {
    width: 1.25rem;
    margin-right: 0.5rem;
    color: var(--color-primary);

}

.secction__linkVideo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}

.secction__linkVideo iframe {
    height: 50vh;
    width: 50%;
    outline: none;
    border-radius: 1rem;
    border: none;
}

@media screen and (max-width:988px) {

    #toglleNavList {
        position: relative;
        padding: 0.2rem;
    }

    .nav__links {
        position: absolute;
        top: 10%;
        right: 0%;
        width: 30%;
        z-index: 999;
        background-color: #FFFFFF;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 15px;
        height: 0;
        margin-top: 0.5rem;
        overflow: hidden;
        opacity: 0;
        margin-left: 0;


    }

    .nav__links::after {
        content: "";
        border: 20px solid;
        border-color: transparent transparent #FFFFFF transparent;
        position: absolute;
        top: -20%;
        left: 63%;

    }

    .nav__links.active {
        height: 30vh;
        overflow: visible;
        opacity: 1;


    }



    .nav__ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 0.5rem 0;


    }

    .nav__ul li {
        padding: 0.5rem 0;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;


    }

    .nav__ul li a {
        color: #000000;
        font-weight: 700;
    }

    .nav__ul li:hover {
        background-color: #75e3ea;
        color: wheat;
    }

    .nav__menu {
        display: inline;
        color: white;
        cursor: pointer;
    }

    .nav__StoreBadge {
        width: 30%;
    }

    .nav--group {
        width: 39%;
    }

    .nav--group img {
        width: auto;
    }

    .logoSection {
        margin-top: 6rem;
    }

    .nav__logo img {
        width: auto;
    }
}

/* this media for tablet */
@media screen and (max-width:768px) {
    .nav__container {
        width: 90%;
    }

    .nav__links::after {
        top: -20%;
        left: 70%;
    }

    .nav__links {
        right: 0%;
        width: 40%;
    }

    .section__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .nav--group {
        width: 39%;
    }

    .nav--group img {
        width: auto;
    }

    .section__content {
        width: 100%;
        margin-top: 5rem;
        text-align: start;
        padding-left: 0.5rem;
    }

    .section__content--moblie {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;

    }

    .section__content--moblie img {
        margin-right: 4rem;
    }

    .header {
        background: url(../imges/Background-tablet.png) center center;
        background-size: cover;
        height: 150vh;
    }

    .nav__StoreBadge {
        display: none;
    }



}

/* //////////////////// */
/*   END HEADER STYLE   */
/* //////////////////// */

/* //////////////////// */
/*  logoSection STYLE   */
/* //////////////////// */
.logoSection {
    margin-top: 4rem;

}

.logoSection__container {
    width: 80%;
    margin: auto;
    border-top: 1px solid #dddddde0;
    border-bottom: 1px solid #dddddde0;

    display: -ms-grid;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(151px, 1fr));
}

@media screen and (max-width:771px) {
    .section__content {
        margin: 0;
        padding: 1rem 0;
        padding-left: 5px;
    }

    .section__content--title {
        font-size: 2rem;
    }



    .logoSection__content {
        margin-top: 1rem;
    }
}

/* ////////////////////// */
/* /logoSection end STYLE */
/* //////////////////// / */


/* //////////////////// */
/* /SECTION  3   STYLE  */
/* ////////////////// / */
.section3 {
    margin-top: 4rem;
}

.section3__title {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -2.5%;
    font-weight: 700;
}

.section3__paragraph {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #111827;
}

.section3__content {
    width: 90%;
    margin: auto;
    /* background-color: tomato; */
    padding: 1rem 0;
}

.section3__content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340.5px, 1fr));
}

.section3__item--title {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.5rem;
}

.section3__item--paraghraph {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #374151;
}

/* ////////////////////// */
/* / SECTION   end STYLE  */
/* //////////////////// / */



/* //////////////////// */
/* /SECTION  4   STYLE  */
/* ////////////////// / */
.section4 {
    margin-top: 5rem;
    background-color: #D5FAFC;
    padding: 3rem 0;
}

.section4__quteIcon {
    top: -20%;
    left: -14%;
    opacity: 0.1;
}

.sction4__row {
    width: 85%;
    margin: auto;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.item1__title {

    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -2.5%;
    font-weight: 700;
}

.item1__title+p {
    color: #111827;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.row__item1 {
    /* background-color: khaki; */
    width: 60%;
}

.row__item2 {
    /* background-color: #111827; */
    width: 50%;
}

.item1__content2 {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    border-radius: 8px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem 0.5rem;
}

.item1__paraghraph {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #111827;
    padding: rem 0;
    margin-left: 0.3rem;
}

.item1__paraghraph+h5 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    padding-top: 1rem;
}

.item1__paraghraph~p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #6B7280;
}

.item--group {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.qute--pading {
    padding: 0 0.3rem;
}

/* media section 4 */
@media screen and (max-width:768px) {
    .sction4__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .row__item1 {
        width: 100%;
    }

    .item1__content2 {
        width: 100%;
        margin-left: 0;
    }

    .row__item2 {
        width: 100%;
    }

    .mt-5 {
        margin: 1.4rem 0 !important;
    }


}

/* //////////////////// */
/* / SECTION  4   end   */
/* ////////////////// / */


/* //////////////////// */
/* / SECTION  5 start   */
/* ////////////////// / */
.section5 {
    padding-bottom: 4rem;
}

.section5__container {
    width: 85%;
    margin: auto;
    padding: 2rem 0;
}

.section5__item1 {
    width: 50%;
}

.section5__item2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section5__item2--content {
    width: 40%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;

}

.section5__item1--title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -2.5%;
    color: var(--color-Neutral);
}

.section5__item1--paraghrph {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--color-Neutral);

}

.section5__item2--content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item2--title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.813rem;
    letter-spacing: -2.5%;
}

.item2--span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #111827;

}

.item2--group {
    text-align: start;
    padding-left: 0.9rem;
    margin-top: 1rem;
}

/* media section 5 */
@media screen and (max-width:988px) {

    .section5__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section5__item1 {
        width: 100%;

    }

    .item2--group {
        text-align: start !important;
        padding-left: 0;
    }

    .item2--title {
        font-size: 2rem;
    }

}

@media screen and (max-width:675px) {
    .section5__item2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section5__item2--content {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

/* //////////////////// */
/* / SECTION  5   end   */
/* ////////////////// / */


/* //////////////////// */
/* / SECTION  6  Start  */
/* ////////////////// / */
.section6 {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.section6__container {

    width: 85%;
    margin: auto;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    border-top: 1px solid #dddddde0;
}

.section6__item1--bold {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -2.5%;
    color: var(--color-Neutral);
    padding-top: 1.3rem;
}

.section6__item1--small {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #111827;

}

.section6__item1 {
    width: 50%;
}

.section6__item2 {
    width: 50%;
}

@media screen and (max-width:970px) {
    .section6__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section6__item1 {
        width: 100%;
        text-align: center;
    }

    .section6__item2 {
        width: 100%;
        margin-top: 1.5rem;
    }
}

/* //////////////////// */
/* / SECTION  6   end   */
/* ////////////////// / */


/* //////////////////// */
/* / SECTION  7 start   */
/* ////////////////// / */
.secion7 {
    background-color: #1DB5BE;
    overflow: hidden;
}

.secion7__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -2.5%;
    color: #111827;

}


.secion7__item1--small {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #111827;

}

.secion7__item1--pararghrph {
    font-weight: 500;
    line-height: 1.75rem;
    line-height: 1.75rem;
    font-size: 1.125rem;
    color: #111827;
}

.section7__container {
    width: 85%;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.secion7__item1 {
    width: 50%;
}

.section7__img2 {
    position: relative;
    top: 140px;
    right: 40px;
}

.secion7__item2 {
    width: 50%;
}

@media screen and (max-width:768px) {
    .section7__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .secion7__item1 {
        width: 100%;
        margin-top: 2rem;
    }

    .secion7__item2 {
        width: 100%;
        margin-top: 2rem;
    }

    .secion7__item1 {
        width: 100%;
    }

    .section7__img2 {
        position: static;
    }

}

@media screen and (max-width:768px) {
    .img--group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/* //////////////////// */
/* / SECTION  7   end   */
/* ////////////////// / */


/* ///////////////// */
/* / footer  start   */
/* /////////////// / */
.footer {
    color: #FFFFFF;
    background-color: #000000;
    padding: 3rem 0;
}

.footer__container {
    width: 85%;
    margin: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__links {
    line-height: 1.5rem;
    color: #FFFFFF;
    font-weight: 400;
    display: inline-block;
    padding: 0.5rem 0 !important;
}

.footer__ul a {
    color: #FFFFFF;

}

.footer__link2 {
    padding-left: 0.5rem;
}

.footer__item1 {
    width: 50%;
}

.footer__item2 {
    width: 30%;
    text-align: center;
}

.footer__ul {
    width: 80%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.5rem;

    font-weight: 400;

}

.footer__small {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #D1D5DB;
}

.footerStoe--group {
    display: inline-block;
}

.footer--text {
    color: #D1D5DB;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@media screen and (max-width:600px) {
    .footer__item1 {
        width: 100%;
    }

    .footer__item2 {
        width: 100%;
        margin-top: 2rem;
        text-align: start;
    }

    .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

/* //////////////// */
/* / footer   end   */
/* ////////////// / */
@media screen and (max-width:510px) {
    html {
        font-size: 0.875rem;
    }
}
@media screen and (max-width:716px) {
    .section3__title{
        font-size: 2rem;
    }
    .item1__title{
        font-size: 2rem;

    }
    .section5__item1--title{
        font-size: 2rem;

    }
    .section6__item1--bold{
        font-size: 2rem;

    }
    .secion7__title{
        font-size: 1.7rem;

    }
    .section3__item {
        width: 90%;
    }
}
@media screen and (max-width:500px) {
    h1,h2,h3{
        font-size: 1.5rem !important;
        line-height: 30px !important;
    }
   p{
       font-size: 0.4rem;
   }
}